<div class="event-holder">
    <div class="col-1 col">
        <button class="back-btn" (click)="closeEvent()"><i class="bi bi-arrow-left-circle"></i> Nazad na događaje</button>
        <div class="img-holder" [style.--bg-image]="'url(' + modifiedEvent?.image + ')'">
            <button class="my-button edit" (click)="selectImage()"><i class="bi bi-pen"></i>Promeni sliku</button>
            <input
                type="file"
                accept="image/*"
                #fileInput
                (change)="onFileSelected($event)"
                style="display: none"
            />
        </div>
        @if (successMessage) {
            <p class="control-success">{{successMessage}}</p>
        }  
        @if (errorMessage) {
            <p class="control-error">{{errorMessage}}</p>
        }  
    </div>
    <div class="col-2 col">
        <h2>{{modifiedEvent?.title}}</h2>
        <p class="description">{{modifiedEvent?.description}}</p>
        <div class="price-and-buttons">
            <div class="price-holder">
                <p>Cena:</p>
                <p>od <span class="price">{{modifiedEvent?.price}}</span> RSD</p>
            </div>
            <div class="btn-holder">
                <button class="editEvent" (click)="openPopup()"><i class="bi bi-pen"></i></button>
                <button class="my-button save" (click)="onSave()" [class.active]="enableEdit">Sačuvaj izmene</button>
                <button class="my-button cancel" (click)="onCancel()" [class.active]="enableEdit">Odustani</button>
            </div>
        </div>
    </div>
</div>

<app-event-change-popup *ngIf="isPopupVisible" (close)="closePopup()" (formParameters)="enteredInfo($event)" [modifiedEvent]="modifiedEvent"></app-event-change-popup>

<div class="reviews">
    <h2>Recenzije</h2>

    <div *ngIf="modifiedEvent?.reviews?.length != 0" class="slideshow-container">
        <button (click)="previousSlide()" class="arrow left">❮</button>
        <div class="slideshow">
            <div [style.transform]="'translateX(-' + currentIndex * (100 / slidesPerView) + '%)'" class="wrapper">
                <div *ngFor="let review of modifiedEvent?.reviews" class="content">                  
                    <div class="review">                         
                        <p>"{{review.comment}}"</p> 
                        <div class="reviewer">
                            <i class="bi bi-person-circle person-img"></i>
                            <div>
                                <p>{{review.user}}</p>
                                <span *ngFor="let i of [].constructor(review.rating); let index = index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="star bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                </span>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="nextSlide()" class="arrow right">❯</button>
    </div>
</div>
