/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* styles.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: "Beiruti", serif;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
}

app-header {
    height: 140px;
    display: block;
    position: relative;
    z-index: 1;
}

body .sections-wrapper {
    height: auto;
    min-height: calc(100vh - 140px);
    width: 100%;
    background-color: #000;
}

body .my-button {
    font-family: "Beiruti", serif;
    border-radius: 20px;
    padding: 3px 20px 5px 20px;
    font-size: 1.3em;
    transition: all ease-in-out 0.3s;
}

body p {
    font-size: 1.2em;
    font-weight: 300;
}

h1 {
    font-family: "BenchNine", serif;
    font-weight: 300;
    font-size: 3.5em;
    color: #fff;
}

form label {
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-weight: 300;
    text-align: left;
}
form input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0px 5px 1px 5px;
    border-radius: 5px;
    font-family: "Beiruti", serif;
    font-size: 1.2em;
}
form input:focus {
    outline: none;
}
form .control-error {
    color: #F11717;
    margin: 5px 0 0;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 3em;
    }
}

@media (max-width: 1023px) {
    h1 {
        font-size: 2.8em;
    }
}

@media (max-width: 767px) {
    body .my-button {
        font-size: 1.2em;
    }
    h1 {
        font-size: 2.4em;
    }
}
  