nav {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 0 20px;
}
.nav-bar-holder {
    display: inline-block;
    position: fixed;
    right: 0;
    padding: 0 20px;
}

.logo-holder {
    display: inline-block;
    position: fixed;
}

.logo-holder img {
    max-width: 120px;
}

nav .nav-tabs {
    list-style: none;  /* Remove bullet points */
    display: flex;     /* Align items in a row */
    padding: 0;
    margin: 0;
    border: none;
}
.nav-tabs li {
    margin: 0;
}

.nav-tabs a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    transition: border-color ease-in-out 0.3s;
    font-size: 1.2em;
}

.nav-tabs a:hover,
.nav-tabs a.selected {
    border-color: #E0BE55;
    cursor: pointer;
}

/* Mobile Menu */
.menu-toggle {
    display: none; /* Hidden on desktop */
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
}

@media (max-width: 991px) {
    .nav-tabs a {
        font-size: 1.1em;
    }
    .logo-holder img {
        max-width: 110px;
    }
}

@media (max-width: 767px) {
    nav {
        padding: 0 10px;
    }
    .logo-holder img {
        max-width: 95px;
    }
    .nav-bar-holder {
        background: transparent;
        padding: 0 25px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav .nav-tabs {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        visibility: hidden;
        transition: all 0.5s ease-in-out; /* Animation for menu appearance */
        opacity: 0;                /* Start menu hidden */
        transform: translateY(-20px); /* Slide-in effect */
    }
    nav .nav-tabs.active {
        visibility: visible;
        opacity: 1;                /* Fade in */
        transform: translateY(0);   /* Slide down */
        transition: all 0.5s ease-in-out; 
    }
    .nav-tabs li {
        text-align: center;
    }
    .menu-toggle {
        display: block;
    }
    /* Animation for active state (when the menu is opened) */
    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu-toggle.active .bar {
        background-color: #E0BE55;
    }
    .notification-holder {
        right: 5px;
        top: 70px;
    }
}
