.events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    padding: 5vh 0 10px 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.event {
    width: 25%;
    border: 2px solid #E0BE55;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 15px;
    transition: transform 1s;
}
.event:hover {
    cursor: pointer;
}
.event.clicked {
    background-color: #D3C494;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.event .img-holder {
    height: 45vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}
.event h2 {
    margin: 5px 0;
    font-weight: 600;
    font-size: 1.7em;
}
.event .price-holder {
    text-align: left;
    padding: 0 10px;
}
.event .price-holder .price {
    font-weight: 700;
    font-size: 1.5em;
}
.event .price-holder p {
    margin: 0;
    font-size: 1em;
}
.event .description {
    height: 57vh;
    min-height: 400px;
    max-height: 660px;
    padding: 15px 10px 0 10px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event .description .text-holder {
    text-align: left;
    max-height: 80%;
    overflow: hidden;
}
.event .description .btn-holder .read-more {
   background-color: transparent;
}
.event .description .btn-holder .read-more:hover {
    background-color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
}
.pagination button {
    margin: 0 5px;
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.pagination button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}
.pagination span {
    margin: 0 20px;
    color: #fff;
}

@media (max-width: 1023px) {
    .event {
        width: 29%;
    }
    .event h2 {
        font-size: 1.6em;
    }
}

@media (max-width: 767px) {
    .event {
        width: 90%;
        margin: 20px 0;
    }
}
  