<div *ngIf="!showAboutUs" class="event-holder">
    <div class="col-1 col">
        <button class="back-btn" (click)="closeEvent()"><i class="bi bi-arrow-left-circle"></i> Nazad na događaje</button>
        <div class="img-holder" [style.backgroundImage]="'url(' + event?.image + ')'"></div>
        <p class="agency">Oglašivač: agencija <button (click)="openAbout()">Trenuci za pamcenje <i class="bi bi-box-arrow-up-right"></i></button></p>
    </div>
    <div class="col-2 col">
        <h2>{{event?.title}}</h2>
        <p class="description">{{event?.description}}</p>
        <div class="price-and-buttons">
            <div class="price-holder">
                <p>Cena:</p>
                <p>od <span class="price">{{event?.price}}</span> RSD</p>
            </div>
            <div class="btn-holder">
                <button class="my-button save" (click)="addToCart()"><i class="bi bi-cart"></i> Dodaj u korpu</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!showAboutUs" class="reviews">
    <h2>Recenzije</h2>
    <h3>Ostavi recenziju</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmitComment()">  
        <!-- Star Rating -->
        <div class="star-rating">
            <ng-container *ngFor="let star of stars; let i = index">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="star bi bi-star-fill" [class.filled]="i < rating" (click)="setRating(i + 1)" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>               
            </ng-container>
        </div> 

        <!-- Comment Box -->
        <div class="control">
            <textarea id="description" type="text" formControlName="description" placeholder="Ostavi komentar za događaj..."></textarea>
        </div>
        <div class="form-btn-holder">
            <button class="button my-button save">Sačuvaj</button>
        </div>

    </form>
</div>

<app-about-us *ngIf="showAboutUs" (close)="closeAbout()"/>
