<div class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button (click)="closePopup()" class="close-popup-btn">
            <i class="bi bi-x-lg"></i>
        </button>
        <h2>Izmena lozinke</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
            <div class="control-row">
              <div class="control">
                <label for="password">Nova lozinka:</label>
                <input id="password" type="password" formControlName="password"/>
              </div>
          
              <div class="control">
                <label for="confirmPassword">Potvrda lozinke:</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword"/>
              </div>
            </div>

            @if (errorMessage) {
              <p class="control-error">{{errorMessage}}</p>
            }  

            <div class="btn-holder">
                <button class="button my-button">Sačuvaj izmene</button>
            </div>
        </form>
    </div>
  </div>
  